*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.circle{
    position: relative;
    width: 200px;
    height: 200px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    width: 150px;
    height: 150px;
    background: url(./assest/gr4.jpg);
    background-size: cover;
    border-radius: 50%;
    filter: brightness(1.5) contrast(1.5);
}
.text{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: anim 10s linear infinite;

}
@keyframes anim{
    0%{
        transform: rotate(0dog);
    }
    100%{
        transform: rotate(360deg);
    }
}
.text span{
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 100px;
}